/* Global styles */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Our App */
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6fa;
  position: relative;
}

.app-wrapper {
  display: flex;
  padding: 0;
  /* flex-direction: row-reverse; */
  flex-direction: column-reverse;
  width: 100%;
  margin: 0;
  background-color: #fff;
}

/* Sidebar Styles */
.sidebar-section {
  background-color: rgb(22, 56, 83);
  width: 100%;
}

.mobile-navbar-menu-visible {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgb(179, 179, 27);
  display: flex;
  padding-top: 70px;
  justify-content: center;
  align-items: top;
}

.mobile-navbar-menu {
  display: none;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #0c0c0c;
}

/* .modal-svg-close-button-container,
.phones {
  fill: #0c0c0c;
} */

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-list-studio {
  text-decoration: none;
  text-transform: uppercase;
  color: green;
  font-weight: bolder;
  margin-bottom: 20px;
}

.hamburger-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburger-button:hover,
.hamburger-button:focus {
  cursor: pointer;
}

.img {
  display: flex;
  justify-content: center;
}

.sidebar-image {
  margin: 0 auto;
  display: block;
  object-fit: contain;
  margin-top: 40px;
  border: 7px solid white;
  border-radius: 50%;
}

.contacts-container {
  padding: 20px;
  width: 100%;
}

.contacts-header {
  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contacts-item {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.phone {
  fill: white;
}

.contacts-phone {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  /* margin-left: 10px; */
}

.right-side {
  display: block;
  height: 1px;
  margin-left: auto;
}

.contacts-email {
  color: white;
  /* font-size: 14px; */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
  width: 100%;
}

.contacts-elements {
  margin-top: -12px;
}

.text-skills-section {
  padding: 40px;
  margin-top: 40px;
  width: 100%;
}

.text-skills-header {
  text-transform: uppercase;

  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-skills-list {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -10px;
  margin-left: -10px;
}

.soft-skills-section {
  padding: 40px;
  margin-top: 40px;
  width: 100%;
}

.soft-skills-header {
  text-transform: uppercase;

  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.soft-skills-list {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -10px;
  margin-left: -10px;
}

/* Main content Styles */
.right-side-container {
  /* padding-left: 88px; */
  padding-top: 80px;
  /* padding-right: 40px; */
  padding-bottom: 180px;
  padding: 5px;
}

.prof {
  width: fit-content;
}

.profi {
  margin-top: 4px;
  color: black;
  height: 5px;
}

.about-me-proffesion {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: aquamarine;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 5px;
  display: none;
}

.about-me-proffesion-mobile {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: aquamarine;
  width: fit-content;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 5px;
}

.marquee {
  display: none;
}

hr {
  height: 1px;
}

.about-me-name {
  text-transform: uppercase;
  background-color: #a8a8a8;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -10px;
  width: fit-content;
  margin: 20px auto;
  display: none;
  padding: 5px;
}

.about-me-name-mobile {
  text-transform: uppercase;
  background-color: #a8a8a8;
  /* font-size: 45px; */

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -10px;
  width: fit-content;
  margin: 20px auto;
  padding: 5px;
}

.about-me-description {
  color: #0c0c0c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -15px;
}

.about-me-descriptions {
  color: #0c0c0c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* margin-top: -15px; */
}

.project-section {
  margin-top: 40px;
}

.project-header {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.project-list {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: -20px;
  margin-top: -10px;
}

.project-name {
  color: blue;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

side .project-info {
  font-weight: 400;
}

.project-roles {
  display: flex;
  justify-content: space-between;
}

.work-experience-section {
  margin-top: 40px;
}

.work-experience-header {
  text-transform: uppercase;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.company-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.company-info {
  color: #6096ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
  margin-bottom: 20px;
}

.company-time {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-top: -10px; */
  margin-bottom: 10px;
}

.company-elements-list {
  color: #595959;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: -15px;
  /* margin-top: -10px; */
}

.company-container {
  margin-top: -10px;
}

.education-section {
  margin-top: 40px;
}

.education-header {
  text-transform: uppercase;

  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.education-name {
  color: #6096ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-top: -15px; */
  margin-bottom: 10px;
}

.education-name2 {
  color: #6096ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-top: -5px; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.education-function {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-top: -15px; */
  margin-bottom: 10px;
}

.education-time {
  color: #a8a8a8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-top: -15px; */
  margin-bottom: 10px;
}

.ed-container {
  margin-top: -10px;
}

.ed-description {
  margin-bottom: 10px;
}

@media screen and (width >=768px) {
  .contacts-email {
    font-size: 14px;
  }

  .project-name {
    font-size: 16px;
  }
}

@media screen and (width >=1158px) {
  .contacts-email {
    font-size: 14px;
  }

  .hamburger-button {
    display: none;
  }

  .app-wrapper {
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
  }

  .right-side-container {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 180px;
  }

  .about-me-name {
    display: block;
    font-size: 45px;
    margin: 0;
    margin-bottom: 5px;
  }

  .about-me-name-mobile {
    display: none;
  }

  .about-me-proffesion {
    display: block;
    margin: 0;
    font-size: 29px;
  }

  .about-me-proffesion-mobile {
    display: none;
  }

  .marquee-mobile {
    display: none;
  }

  .about-me-description {
    font-size: 18px;
  }

  .project-header {
    font-size: 26px;
  }

  .project-items {
    font-size: 20px;
  }

  .project-name {
    font-size: 20px;
  }

  .about-me-descriptions {
    font-size: 18px;
  }

  span {
    font-size: 18px;
  }

  .work-experience-header {
    font-size: 26px;
  }

  .company-name {
    font-size: 18px;
  }

  .company-info {
    font-size: 20px;
  }

  .company-time {
    font-size: 16px;
  }

  .work-description {
    font-size: 18px;
  }

  .education-header {
    font-size: 26px;
  }

  .education-name {
    font-size: 20px;
  }

  .education-name2 {
    font-size: 20px;
  }

  .education-function {
    font-size: 18px;
  }

  .education-time {
    font-size: 16px;
  }

  .ed-description {
    font-size: 20px;
  }

  .edu-description {
    font-size: 18px;
  }
}
